@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Poppins';
}
.box {
  width: 300px;
  margin: 20px 34px;
  background: #77aedd;
  padding: 20px;
  color: #fff;
  font-family: arial;
  position: relative;
}
.box sub {
  bottom: -1.75em;
}

.sb2:before {
  content: '';
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #77aedd;
  border-top: 10px solid #77aedd;
  border-bottom: 10px solid transparent;
  left: -19px;
  top: 6px;
}

.typein:focus {
  border-color: #77aedd;
}
.min-height {
  min-height: 18rem;
}
/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #77aedd;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
